/* RT theme CSS */
.rt-theme {
   padding-top: 110px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.vertical-margin {
   margin-top:15px;
   margin-bottom:15px;	
}

.home-news-image {
   height: auto;
   width: 280px;
}

.footer {
   background-color:#2F2F2F;
}

.footer ul{
   list-style-type:none;
}

.footer li{
   padding:10px;
}

.nav-social {
   width:35px;
   margin-top:5px;
   margin-right:2px;
   background-color:#565656;
}

.fb:hover {
  background-color:#3b5999;
}

.twitter:hover {
  background-color:#4099FF;
}

.google:hover{
  background-color:#d34836;
}

.nav-logo {
   width:100px;
   background-color:#000000;
}

.nav-logo-wrapper {
   background-color:#000000;
   float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
   padding-bottom:51px;
}

/* RT theme CSS */

/* RT Homepage CSS */
.multi-carousel {
    background: url("/public/images/slider/loader.gif") no-repeat scroll center center transparent;
    height: auto !important;
    min-height: 20px;
    position: relative;
}


.multi-carousel .prev {
    background: url("/public/images/slider/prev.png") no-repeat scroll 0 0 transparent;
    margin-left: -60px;
}

.multi-carousel .next {
    background: url("/public/images/slider/next.png") no-repeat scroll 0 0 transparent;
    margin-right: -60px;
}

.multi-carousel .next, .multi-carousel .prev {
    bottom: 20px;
    cursor: pointer;
    display: none;
    height: 56px;
    left: 50%;
    margin-top: -28px;
    position: absolute;
    width: 56px;
    z-index: 9999;
}

.multi-carousel li { 
    display:none; 
}

.multi-carousel li img { 
   width:100%; height:auto; 
   margin-left:5px;
   margin-right:5px;
}

/* RT Homepage CSS */

/* RT AOTW CSS */

/* RT AOTW CSS */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}
